In [1]:
import pandas as pd
import numpy as np

In [2]:
election_data = pd.read_csv('Election_data.csv')

In [3]:
vote = 'election_data.csv'

In [4]:
df = pd.read_csv(vote)

In [5]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 3 columns):
Voter ID     int64
County       object
Candidate    object
dtypes: int64(1), object(2)
memory usage: 80.6+ MB

In [7]:
pd.isnull(df).any()

Voter ID     False
County       False
Candidate    False
dtype: bool

In [13]:
# The total number of votes cast
total_votes = len(df)
total_votes

3521001

In [15]:
# A complete list of candidates who received votes
candidates_count = df['Candidate'].value_counts()
candidates_count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [19]:
# The percentage of votes each candidate won

ppercentage_votes = (candidates_count/total_votes)*100
percentage_votes

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [22]:
# The winner of the election based on popular vote.
winner = candidates_count.idxmax()
winner

'Khan'

In [23]:
# print the results
print("Election results")
print("--------------------------------------------------------------------------")
print("Total votes: " + str(total_votes))
print("----------------------------------------------------------------------------")
print("Khan:" + " " + str(round(percentage_votes[0],3)) + "%" + "("+str(candidates_count[0])+")")
      
print("Correy:" + " " + str(round(percentage_votes[1],3)) + "%" + "("+str(candidates_count[1])+")")
      
print("Li:" + " " + str(round(percentage_votes[2],3)) + "%" + "("+str(candidates_count[2])+")")
      
print("O'Tooley:" + " " + str(round(percentage_votes[3],3)) + "%" + "("+str(candidates_count[3])+")")

print("----------------------------------------------------------------------------------------")
      
print("winner: " + winner)

Election results
--------------------------------------------------------------------------
Total votes: 3521001
----------------------------------------------------------------------------
Khan: 63.0%(2218231)
Correy: 20.0%(704200)
Li: 14.0%(492940)
O'Tooley: 3.0%(105630)
----------------------------------------------------------------------------------------
winner: Khan